
<div class="row">
	<div class="span9 offset1">
		<%= link_to "Back to your profile", @profile %>

		<h2 id="dark">Edit Beer - <%= @beer.beer_name %></h2>

		<%= form_for(@beer) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= image_tag @beer.photo.url(:beerthumb) %>
			<p>Current photo</p>	

			<%= f.label :photo %>
			<%= f.file_field :photo %>
	
			<h3 id="dark_bold"><b><%= @profile.company %></b></h3>
			<%= f.hidden_field :brewery_name, value: @profile.company %>

			<%= f.label :beer_name, "Beer Name" %>
			<%= f.text_field :beer_name %>

			<%= f.label :content, "About the Beer" %>
			<%= f.text_area :content %>
	
			<%= f.submit "Save changes", class: "btn btn-primary"%>
			<button type="button" class="btn"><%= link_to "Cancel", @profile %></button>
		<% end %>
	</div>
</div>
			
